<a href="https://colab.research.google.com/github/MogilipalemHemanthKumar/Team-594092-U2TCD904/blob/main/TRI_NIT_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv("/content/Fertilizer Prediction.csv")

In [ ]:
df.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,Sandy,Maize,37,0,0,Urea
1,29,52,45,Loamy,Sugarcane,12,0,36,DAP
2,34,65,62,Black,Cotton,7,9,30,14-35-14
3,32,62,34,Red,Tobacco,22,0,20,28-28
4,28,54,46,Clayey,Paddy,35,0,0,Urea

In [ ]:
df['Fertilizer Name'].unique()

array(['Urea', 'DAP', '14-35-14', '28-28', '17-17-17', '20-20',
       '10-26-26'], dtype=object)

In [ ]:
df['Fertilizer Name'].unique()

array([6, 5, 1, 4, 2, 3, 0])

In [ ]:
df['Crop Type'].unique()

array(['Maize', 'Sugarcane', 'Cotton', 'Tobacco', 'Paddy', 'Barley',
       'Wheat', 'Millets', 'Oil seeds', 'Pulses', 'Ground Nuts'],
      dtype=object)

In [ ]:
df['Crop Type'].unique()

array([ 3,  8,  1,  9,  6,  0, 10,  4,  5,  7,  2])

In [ ]:
df.isnull().sum()

Temparature        0
Humidity           0
Moisture           0
Soil Type          0
Crop Type          0
Nitrogen           0
Potassium          0
Phosphorous        0
Fertilizer Name    0
dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
label_encode=LabelEncoder()

In [ ]:
df['Soil Type']=label_encode.fit_transform(df['Soil Type'])
df['Crop Type']=label_encode.fit_transform(df['Crop Type'])
df['Fertilizer Name']=label_encode.fit_transform(df['Fertilizer Name'])

In [ ]:
df.head()

,Temparature,Humidity,Moisture,Soil Type,Crop Type,Nitrogen,Potassium,Phosphorous,Fertilizer Name
0,26,52,38,4,3,37,0,0,6
1,29,52,45,2,8,12,0,36,5
2,34,65,62,0,1,7,9,30,1
3,32,62,34,3,9,22,0,20,4
4,28,54,46,1,6,35,0,0,6

In [ ]:
x=df.drop(['Fertilizer Name'],axis=1)
y=df['Fertilizer Name']

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler
scalar=StandardScaler()

In [ ]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=2)

In [ ]:
x_train_scaled=scalar.fit_transform(x_train)

In [ ]:
x_test_scaled=scalar.transform(x_test)

In [ ]:
from sklearn.linear_model import LogisticRegression
Logical=LogisticRegression(random_state=2)
Logical.fit(x_train_scaled,y_train)
y_prediction2=Logical.predict(x_train_scaled)
y_prediction_test=Logical.predict(x_test_scaled)
print("Logistic Regression Classifier train accuracy: ",accuracy_score(y_prediction2,y_train))
print("Logistic Regression Classifier test accuracy: ",accuracy_score(y_prediction_test,y_test))

Logistic Regression Classifier train accuracy:  0.9746835443037974
Logistic Regression Classifier test accuracy:  0.9

In [ ]:
from sklearn.model_selection import cross_val_score

In [ ]:
import pickle
file_name="crops_fertilizer.sav"
pickle.dump(Logical,open(file_name,'wb'))